* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Roboto';
  background-color: #212121;
}

.header {
  font-family: 'NotoSansCJKkr';
  padding: 1em 0;
  font-size: 1.5em;
  border-bottom: 1px solid #343539;
  text-align: center;
  color: white;
}

.app {
  width: 420px;
}

.moon {
    position: relative;
    animation: rolling 3s infinite linear;
    top: 50%;
    left: -5px;
    width: calc(100% + 10px);
}

.moon.big{
    left: -10px;
    width: calc(100% + 20px);
    animation: rolling 5s infinite linear;
}

.moon.opposite{
    animation: rolling2 3s infinite linear;
}

.moon.big.opposite{
    animation: rolling2 5s infinite linear;
}

.moon.big::after {
    position: absolute;
    content: ' ';
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 100%;
}

.moon::after { 
    position: absolute;
    content: ' ';
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 100%;
}

.time {
    position: relative;
  height: 350px;
  width: 350px;
  margin: auto;
  border: 1px solid white;
  border-radius: 100%;
}

.time .content {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
  h2 {
    text-align: center;
  }
  .qa-activity-count-item {
    width: 50%;
    float: left;
    font-size: 13px;
    text-align: center;
    white-space: nowrap;
    transition: color 0.2s ease-in-out;
  }
  
  .data {
    display: block;
    font-size: 30px;
  }

  .content {
    width: 100%;
    text-align: center;
  }

#year.time {
  margin: auto 20px auto auto;
}

#hour.time {
  margin: -40px 0 0 20px;
}

#minute.time {
  margin: -150px 20px auto auto;
}

#year .moon::after {
  background-color: #49e6c1;
}

#year.time, #year .data, #year .label {
  font-size: 42px;
  color: #49e6c1;
  border-color: #49e6c1;
}

#year.time .label {
  font-size: 22px;
}

#year.time img.background {
  position: absolute;
  width: calc(100% + 40px);
  top: -20px;
  left: -20px;
}

#hour .moon::after {
  background-color: #cdb4fd;
}

#hour.time, #hour .data, #hour .label {
  font-size: 35px;
  color: #cdb4fd;
  border-color: #cdb4fd;
}

#hour.time .label {
  font-size: 20px;
}

#hour.time img.background {
  position: absolute;
  width: calc(100% - 10px);
  left: 5px;
  top: 5px;
}

#minute .moon::after {
  background-color: #fffec1;
}

#minute.time, #minute .data, #minute .label {
  font-size: 25px;
  color: #fffec1;
  border-color: #fffec1;
}

#minute.time .label {
  font-size: 17px;
}

#minute.time img.background {
  position: absolute;
  width: calc(100% - 10px);
  left: 5px;
  top: 5px;
}

button#restart {
  display: block;
  padding: 5px;
  width: 50%;
  margin: 0 auto;
  background: #49e6c1;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
}

  @keyframes rolling2 {
    to {
      transform: rotate(-360deg);
    }
  }
  @keyframes rolling {
    to {
      transform: rotate(360deg);
    }
  }