@import url("https://fonts.googleapis.com/css?family=Bungee");
body {
  background-color: #212121;
  font-family: 'Bungee', cursive;
}

.moon {
    position: relative;
    animation: rolling 3s infinite linear;
    top: 50%;
    left: -5px;
    width: calc(100% + 10px);
}

.moon.big{
    left: -10px;
    width: calc(100% + 20px);
    animation: rolling 5s infinite linear;
}

.moon.opposite{
    animation: rolling2 3s infinite linear;
}

.moon.big.opposite{
    animation: rolling2 5s infinite linear;
}

.moon.big::after {
    position: absolute;
    content: ' ';
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 100%;
}

.moon::after { 
    position: absolute;
    content: ' ';
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 100%;
}

@keyframes rolling2 {
  to {
    transform: rotate(-360deg);
  }
}
@keyframes rolling {
  to {
    transform: rotate(360deg);
  }
}
.time {
    position: relative;
  height: 350px;
  width: 350px;
  margin: auto;
  border: 1px solid white;
  border-radius: 100%;
}

.time .data {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
* {
    box-sizing: border-box;
  }
  h2 {
    text-align: center;
  }
  .qa-activity-count-item {
    width: 50%;
    float: left;
    font-size: 13px;
    text-align: center;
    white-space: nowrap;
    transition: color 0.2s ease-in-out;
  }
  
  .data {
    display: block;
    font-size: 30px;
    font-family: "Arimo", sans-serif;
  }